fastapi
uvicorn[standard]
sqlalchemy
psycopg2
pydantic-settings
gunicorn
python-dotenv
requests
pyjwt
pyyaml
authlib
httpx
python-jose[cryptography]
python-multipart
bcrypt==4.1.3
email-validator
alembic
